<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloribus dolorum hic in ipsa iusto quidem reiciendis totam vel velit.
</p>

<ul>
    <li>Email: {{ data.email }}</li>
    <li>Name: {{ data.name }}</li>
</ul>

<p><strong>Meswsage</strong>:<br>{{ data.message | nl2br }}</p>