{% extends 'base.html.twig' %}

{% block title "Create Category" %}

{% block body %}

    <h1>Create category</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm">{{ form_row(form.name) }}</div>
        <div class="col-sm">{{ form_row(form.slug) }}</div>
    </div>

    {{ form_end(form) }}

{% endblock %}


